/* *{
    margin: 0;
} */

  .StudentLogin{
    text-align: center;
    margin-left: 25%;
    height: 689px;
    width: 903px;
    border-radius: 10px;
    border: 2px solid black;
    align-content: center;
    /* margin-left: 33%; */
    margin-top: 3%; 
    }
  
    #heading{
        background-color: #EBEBEB;
        height: 71px;
        width: 903px;
        margin-top: -22px;
        border-radius: 10px 10px 0 0;
    }

    .titles{
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
    }
  
    .titles p{
        font-size: 25px;
    }
  
  
    .titles #show_password{
        font-size: 15px;
        color: #14ACED;
        background-color: none;
    }
  
    .input_field{
        height: 48px;
        width: 873px;
        border-radius: 5px;
        font-size: 20px;
    }
  
    .buttons a button{
        height: 65px;
        width: 545px;
        background-color: #17A1B7;
        color: white;
        font-size: 25px;
        border-radius: 10px;
    }
  
    .compulsory{
        color: red;
    }
  